<mat-toolbar color="primary" class="header">
  <mat-icon class="pr-10">
    <img src="/assets/images/heart-signal.svg" alt="logo">
  </mat-icon>
  <h1 class="pr-10">We care</h1> <span class="pr-10"> - </span> <caption class="mat-caption pt-5">Best health monitoring system</caption>
  <span style="  flex: 1 1 auto;"></span>
  <button mat-mini-fab aria-label="Log out" color="accent" matTooltip="Log out of system" [matTooltipPosition]="'left'">
    <mat-icon aria-hidden="log out" aria-label="Log out">logout</mat-icon>
  </button>
</mat-toolbar>
<mat-grid-list cols="1" class="column-gridList" rowHeight="fit">
  <mat-grid-tile>1</mat-grid-tile>
</mat-grid-list>
